server:
  port: 8061
  forward-headers-strategy: framework
  max-http-request-header-size: 200000000
  tomcat:
    max-http-form-post-size: 200000000
    max-swallow-size: 200000000

app:
  client-id: sathish_ch
  client-secret: $2a$10$1oZeYehKZTCtx8titPu.oOHFMfd/X86SJltkEew4OIwFeY/8kGQVu
  token-expire-in: 10
  aes-key: U2F0aGlzaEt1bWFyQ2gyNw==

spring:
  application:
    name: skch-oauth2-server
  threads:
    virtual:
      enabled: true

security:
  oauth2:
    kid: c5ac9681-b6c6-49ad-bd0c-cf9a4ecc0ae1
    jwt:
      private-key: ${JWT_PRIVATE_KEY}
      public-key: ${JWT_PUBLIC_KEY}